@media screen  and (min-width:  360px) and (max-width:  450px) {
	body {
		background-color: #FFFFEF; 
		font-family: Arabic Typesetting, TeX Gyre Adventor, URW Gothic L, sans-serif;
	}
	div {
		border:  0px solid black; 
		position: absolute;
	}
	header {
		position: absolute; 
		top: 0%; 
		left:0%;
		width:100%;
		height:17%;
		background-color: #FFFFEF;
	}
	#b1 {
		top: 25%;
		left: 5%;
		width: 40%;
		height: 25%;
		background-color: hotpink;
		border-radius: 15px;
        background-image: url(zada.png);
		background-repeat: no-repeat;
		background-size: 60% 55%;
		background-position: 30% 75%;
	}
	#b2 {
		top: 25%;
		left: 55%;
		width: 40%;
		height: 25%;
		background-color: tomato;
		border-radius: 15px;
		background-image: url(uche.png);
		background-repeat: no-repeat;
		background-size: 60% 55%;
		background-position: 30% 75%;
	}
	#b3 {
		top: 55%;
		left: 5%;
		width: 40%;
		height: 25%;
		background-color: aquamarine;
		border-radius: 15px;
		background-image: url(hobbies.png);
		background-repeat: no-repeat;
		background-size: 60% 55%;
		background-position: 30% 75%;
	}
	#b4 {
		top: 55%;
		left: 55%;
		width: 40%;
		height: 25%;
		background-color: lightgreen;
		border-radius: 15px;
		background-image: url(ladder.png);
		background-repeat: no-repeat;
		background-size: 60% 55%;
		background-position: 30% 75%;
	}
	#f1 {
		top: 20%;
		left: 43%;
		width: 16%;
		height: 60%;
		background-color: deepskyblue;
		border-radius: 100px;
		text-align: center;
		line-height: 110%;
		background-image: url(home.png);
		background-repeat: no-repeat;
		background-size: 55% 55%; 
		background-position: 50% 50%
	}
	#hb1 {
		top: 25%;
		left: 80%;
		width: 12%;
		height: 35%;
		background-image: url(register.png);
		background-repeat: no repeat;
		background-size: 100% 100%;
		background-position: 0% 0%;
	}
	#f2 {
		top: 27%;
		left: 12%;
		width: 15%;
		height: 48%;
		background-image: url(notepad.png);
		background-repeat: no repeat;
		background-size: 100% 100%;
		background-position: 0% 0%;
	}
	#f3 {
		top: 27%;
		left: 74%;
		width: 15%;
		height: 48%;
		background-image: url(on.png);
		background-repeat: no repeat;
		background-size: 100% 100%;
		background-position: 0% 0%;
	}
	.sp1 {
		position: absolute;
        left: 4%; 
        top: 70%;
        font-size: 27px;
        color: black;
        white-space: pre;
	}
	.sp2 {
		position: absolute;
        left: 35%; 
        top: 30%;
        font-size: 30px;
        color: black;
	}
	.sp3 {
		position: absolute;
        left: 7%; 
        top: 18%;
        font-size: 30px;
        color: black;
	}
	.sp4 {
		position: absolute;
        left: 7%; 
        top: 18%;
        font-size: 20px;
        color: black;
	}
	.sp5 {
		position: absolute;
        left: 7%; 
        top: 18%;
        font-size: 20px;
        color: black;
	}
	.sp6 {
		position: absolute;
        left: 7%; 
        top: 18%;
        font-size: 20px;
        color: black;
	}
	.sp7 {
		position: absolute;
        left: 7%; 
        top: 18%;
        font-size: 20px;
        color: black;
	}
	footer {
		position: absolute; 
		top: 85%; 
		left:0%;
		width:100%;
		height:15%;
		background-color: #FFFFEF;
		font-size: 55px;
		color:  white;
		white-space: pre;
		position: fixed
	}
	a {
		color: black;
		text-decoration: none;
	}
	.a1 {
		color: ghostwhite;
		text-decoration: none;
	}
}